<?xml version="1.0"?>

<model>
  <name>Ping Pong Table Net</name>
  <version>1.0</version>
  <sdf version="1.5">ping_pong_table_net.sdf</sdf>

  <author>
    <name>John Dong</name>
    <email></email>
  </author>

  <description>
    A model of a ping pong table's net.
  </description>

</model>
